<section class="resume-section d-flex flex-column reveal-on-scroll" id="experience">
  <div class="section-scroll-body">
  <div class="container my-auto">
    <h2 class="mb-5">Experience</h2>

    {% for item in site.data.experience %}
    <div class="resume-item modern-card d-flex flex-column flex-md-row mb-4 reveal-card">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{ item.position }}</h3>
        <div class="subheading mb-3">{{ item.company }}, {{ item.country }}</div>
        <div>{{ item.description | markdownify }}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ item.start_date | date: "%b-%Y" }} - {{ item.end_date | date: "%b-%Y" }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</section>
