<section class="resume-section d-flex flex-column reveal-on-scroll" id="education">
  <div class="section-scroll-body">
    <div class="container my-auto">
      <h2 class="mb-5">Education</h2>

      {% for item in site.data.education %}
      <div class="resume-item modern-card d-flex flex-column flex-md-row mb-4 reveal-card">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{ item.course }}</h3>
          <div class="subheading mb-3">{{ item.institution }}</div>
          {% for description in item.descriptions %}
          <div>{{ description }}</div>
          {% endfor %}
          {% if item.gpa %}
          <div>GPA: {{ item.gpa }}</div>
          {% endif %}
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ item.start_date | date: "%b-%Y" }} - {{ item.end_date | date: "%b-%Y" }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
